body {
  padding-top: 54px;
  font-family: 'Raleway', sans-serif;
  background-color: #F2F4ED;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.business-header {
  height: 50vh;
  min-height: 300px;
  background: url('http://placehold.it/1920x400') center center no-repeat scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.card {
  height: 100%;
}
h1#princ,h2#princ,h3#princ,h4#princ{
  font-family: 'Lato', sans-serif;
}

header.business-header{
  width: 100%;
  height: 100%;
  background: url(/images/seikiBanner.png) center center no-repeat;
  background-size: cover
}

nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top{
  background:transparent;
  background-color: #DA1E2A!important;
}

a.nav-item.nav-link.text-black{
  color: black;
}